<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/main.css') }}">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="app">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            {#<script src="{{ asset('build/runtime.js') }}"></script>#}
            {#<script src="{{ asset('build/app.js') }}"></script>#}
        {% endblock %}
    </body>
</html>
